<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main-container">
      <div class="wrapper">
        <div class="field">
          <form action="/" method="POST">
            <input type="text" name="search" placeholder="Enter City Name" required>
            <input type="submit" value="⌕">
          </form>
        <div class="line"></div>
      </div>
      <div class="message">
        <h3>Search and know weather of desired location!</h3>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>