<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* footer */
    .footer{
        background-color: #ffffff;
        font-size: 20px;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100vw;
        padding: 2px;
    }
    .footer span{
        color: #52D6D3;
        font-size: 20px;
        font-weight: 600;
    }
    </style>
</head>
<body>
    <div class="footer">
        <p>
          Created with <span><i class='bx bxs-heart' ></i></span> By <span>Darshil Laloriya</span>
        </p>
      </div>
</body>
</html>